{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
{{ form.media }}

<div class="box-shadow-bottom container p-sm-4 full-width my-5 darker-blue">
    <div class="row p-sm-0 p-4">
            <div class="col-md-6 col-12">
                <form method="post" id="booking_form" >
                    {% csrf_token %}
                    {{ booking_form | crispy }}
                    <div class="my-4">
                        <button type="submit" class="btn btn-primary">Confirm Booking</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}